<!doctype html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.ibb.co/PTcH9jG/Imagen1.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/js/scripts.js"></script>

    <title>Inicio</title>
</head>
<body>
  <style>@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    h1, h2, h3, h4, h5, h6, p,
      #Navbar, .navbar, .card, .nav-link, .nav-user, .nav-building,
      .nav-link1, .nav-link2, .nav-link4, .nav-link5, .nav-link6, .nav-link7 {
        font-family: 'Orbitron', sans-serif;
      }
      .btn-fijo {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
}
    #pricing-container {
        display: none;
    }
    #Navbar {
      background-color: white;
      padding: 0px 0;
    }
  
    .navbar {
      background-color: whitesmoke;
      border-radius: 10px;
      padding: 10px 15px;
    }
  
    .navbar img {
      border-radius: 20%;
      margin-right: 10px;
    }
  
    .search-container {
      position: relative;
      width: 250px;
      margin-right: 10px;
    }
  
    #suggestions {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: white;
      border: 1px solid #ccc;
    }
  
    .nav-link, .nav-calendar, .nav-transactions, .nav-files, .nav-user, .nav-building, .nav-link1, .nav-link2, .nav-link4, .nav-link5, .nav-link6, .nav-link7, .nav-statistics, .nav-documents{
      margin: 0 10px;
      cursor: pointer;
    }
  
  
    .card {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 16px;
      margin: 16px 0;
      background-color: #f9f9f9;
    } 
  
    .card-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  
    .card-description {
      font-size: 16px;
      margin-bottom: 8px;
    }
  
    .card-date {
      font-size: 14px;
      color: #777;
    }
  
    .productos-container, .amigos-container {
      display: flex;
      justify-content: space-between;
    }
  
    .producto, .amigo {
      flex: 0 0 30%;
      text-align: center;
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      
    }
  
    .producto img, .amigo img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
    }
  </style>
  
  <body>
    
    <!-- Navbar -->
    <div id="Navbar" class="text-center sticky-top pl-2 mt-1 pr-2">
        <nav class="navbar navbar-expand-lg">
            <!-- Logo -->
            <img src="https://i.ibb.co/f4vZNKd/Captura-de-pantalla-2023-04-29-201016.png" alt="Logo" width="60" height="60">

            <!-- Búsqueda -->
            <div class="search-container ml-3">
                <div class="input-group">
                    <input type="text" id="search-input" class="form-control" placeholder="Buscar . . .">
                    <div class="input-group-append">
                        <button id="search-btn" class="btn btn-info"><i class="fas fa-dna"></i></button>
                    </div>
                </div>
                <div id="suggestions" class="rounded-lg">
                    <div class="text-white pt-2 pr-2 pl-2"></div>
                </div>
            </div>

            <!-- Elementos del menú -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-user" style="color: #2c758c; font-size: 25px;"><span class="fa fa-id-card"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #2c758c; font-size: 15px;"><i class="fas fa-info fa-lg"></i></a>
                    </li>
                    <!-- Salir -->
                    <li class="nav-item">
                        <a class="nav-link9" href="logout" style="color: #2c758c; font-size: 25px;"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Contenido Principal -->
<div id="Conoceme" class="text-center pl-2 pr-2 pb-3 pt-3" style="background-color: white;">
    <div class="p-3 text-white rounded-lg" style="background: linear-gradient(to right,  #2C758C ,  #F17460 )">
        <div class="row justify-content-center align-items-start">
            <!-- Información del Usuario -->
            <div class="col-md-3 d-flex justify-content-center">
                <div class="col mb-3 p-3 col-md text-white rounded-lg text-center" style="background-color: white">
                    <img class="rounded-lg" src="https://i.ibb.co/Nxkbn3C/Dise-o-sin-t-tulo-3.png" width="110" height="110" alt="Logo">
                        <% if (login) { %> 
                        <div>
                            <h5 style="color:#15566a">Nombre:</h5>
                            <p style="color:red"><%= nombre %></p>
                            <div>
                                <h6 style="color:#15566a">Humano:</h6>
                                <p style="color:red"><%= humano %></p>
                             <img src="<%= qrCode %>" alt="QR Code" width="130" height="130">

                            </div>
                         
                            
                         </div>
                         
                      <div class="col col-md mt-2 pt-2 pl-2 text-white p-1 rounded-lg" style="background-color: whitesmoke">
                  <!-- Botón para modificar los links -->
                    <!-- Descripción actual -->
                    <div id="descripcionActual" ALIGN="left">
                        <button id="saveDescripcion" style="border-radius: 20%; padding: 3px; float: left; margin-right: 10px;" type="button" class="btn btn-danger btn-sm"><i class="fas fa-user-edit"></i></button>
                        <div style="display: inline-block;">
                            <h6 class="mt-2" style="color: red;">Descripción:</h6>
                       </div>
                       <p id="textoDescripcion" class="mt-1" style="color: #2C758C;"><%= descripcion %></p>
                       
                    </div>
                    
 <script>
 // Al hacer clic en el botón "Guardar descripción", abre el modal de edición
 document.getElementById('saveDescripcion').addEventListener('click', function() {
     Swal.fire({
         title: 'Modificar Descripción',
         input: 'textarea',
         inputPlaceholder: 'Escribe tu nueva descripción aquí...',
         showCancelButton: true,
         confirmButtonText: 'Guardar',
         cancelButtonText: 'Cancelar',
         preConfirm: (descripcion) => {
             return axios.post('/actualizar-descripcion', {
                 descripcion: descripcion
             })
             .then(function(response) {
                 if (response.data.success) {
                     // Actualiza la descripción mostrada en el front-end
                     document.getElementById('textoDescripcion').textContent = descripcion;
                     return { success: true };
                 } else {
                     return { success: false };
                 }
             })
             .catch(function(error) {
                 return { success: false, error: error };
             });
         }
     }).then((result) => {
         if (result.isConfirmed) {
             if (result.value.success) {
                 Swal.fire({
                     icon: 'success',
                     title: '¡Éxito!',
                     text: 'Descripción actualizada correctamente.'
                 });
             } else {
                 console.error('Error al enviar la solicitud:', result.value.error);
                 Swal.fire({
                     icon: 'error',
                     title: 'Oops...',
                     text: 'Hubo un error al actualizar la descripción.'
                 });
             }
         }
     });
 });
 </script>
 
                          <!-- Botones de redes sociales aquí (los he movido) -->
                          <div class="text-center mb-1">
                           <div ALIGN="left"><button id="Modicariconos" style="position: relative; bottom: 0px; right: 0px; border-radius: 50%; padding: 1px;" type="button" class="pl-1 pr-1 btn btn-info btn-sm"><i class="fas fa-link"></i></button>
                            <div style="display: inline-block;">
                                <h6 class="ml-1" style="color: blue;">Enlaces:</h6>
                           </div></div>
                            
                          <!-- Botón de Usuario -->
  <a href="#" target="_blank" style="color: #2c758c; font-size: 21px;"rel="noopener noreferrer"><i class="mr-2 fas fa-user"></i></a>
  
  <!-- Botón de Empleo -->
  <a href="#" target="_blank" style="color: #2c758c; font-size: 21px;" rel="noopener noreferrer"><i class="mr-2 fas fa-briefcase"></i></a>
  
  
                          <!-- Botón de Instagram -->
  <a href="https://www.instagram.com/" style="color: #2c758c; font-size: 21px;" target="_blank" rel="noopener noreferrer"><i class="mr-2 fab fa-instagram"></i></a>
  
  <!-- Botón de Facebook -->
  <a href="https://www.facebook.com/"style="color: #2c758c; font-size: 21px;" target="_blank" rel="noopener noreferrer"><i class="mr-2 fab fa-facebook"></i></a>
  
  <!-- Botón de Youtube -->
  <a href="https://www.youtube.com/"style="color: #2c758c; font-size: 21px;" target="_blank" rel="noopener noreferrer"><i class="mr-2 fab fa-youtube"></i></a>
  
  <!-- Botón de LinkedIn -->
  <a href="https://www.linkedin.com/" style="color: #2c758c; font-size: 21px;"target="_blank" rel="noopener noreferrer"><i class="mr-2 fab fa-linkedin"></i></a>
  
  <a href="https://www.twitter.com/" style="color: #2c758c; font-size: 21px;"><i class="mr-2 fab fa-twitter"></i></a>
  <a href="https://www.tiktok.com/" style="color: #2c758c; font-size: 21px;"><i class=" fab fa-tiktok"></i></a>
  
   </div>
                                                     
                        </div>
                       
                    </div>
                </div>
                
                <div class="col-md-9" id="contenedorPublicaciones">
                    <!-- Las publicaciones se insertarán aquí dinámicamente -->
                  </div>
            <button id="publicarNueva" type="button" class="btn btn-success btn-fijo btn-icono" style="border-radius: 50%;"><i class="fas fa-pencil-alt"></i></button>

                  <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        // Cuando se carga la página, obtén todas las publicaciones y muéstralas
                        axios.get('/obtener-publicaciones')
                        .then(function(response) {
                            if (response.data.success) {
                                const publicaciones = response.data.publicaciones;
                                const contenedorPublicaciones = document.querySelector('.col-md-9');
                                contenedorPublicaciones.innerHTML = ''; // Limpiamos el contenedor
                                
                                publicaciones.forEach(publicacion => {
                                    const divPublicacion = document.createElement('div');
                                    divPublicacion.innerHTML = `
                                        <div class="text-white mb-2 p-2 rounded-lg" ALIGN="left" style="background-color: whitesmoke">
                                            <img class="mt-1 rounded-lg" src="https://i.ibb.co/Nxkbn3C/Dise-o-sin-t-tulo-3.png" width="30" height="30" alt="Logo">
                                            <small class="text-muted">Humano: ${publicacion.humanoID}</small>
                                            <h5 class="card-title mt-2" style="color: #15566a">${publicacion.titulo}</h5>
                                            <p class="card-text" style="color: #15566a">${publicacion.texto}</p>
                                            <small class="text-muted">Fecha de publicación: ${publicacion.fecha}</small>
                                            <small class="text-muted">Token: ${publicacion.token}</small>
                                        </div>
                                    `;
                                    contenedorPublicaciones.appendChild(divPublicacion);
                                });
                            } else {
                                console.error('Error al obtener las publicaciones:', response.data.message);
                            }
                        })
                        .catch(function(error) {
                            console.error('Error al hacer la solicitud:', error);
                        });
                    
                        // Función para obtener el humanoID desde la sesión
                        function obtenerHumanoIDDesdeSesion() {
                            return axios.get('/obtener-humano-id')  
                                .then(function(response) {
                                    if (response.data.success) {
                                        return response.data.humanoID; 
                                    } else {
                                        console.error('Error al obtener el humanoID desde la sesión:', response.data.message);
                                        return null; // Devuelve null en caso de error.
                                    }
                                })
                                .catch(function(error) {
                                    console.error('Error al hacer la solicitud:', error);
                                    return null; // Devuelve null en caso de error.
                                });
                        }
                    
                        document.getElementById('publicarNueva').addEventListener('click', function() {
                            let titulo, texto; 
                    
                            Swal.fire({
                                title: 'Publicar Nueva Publicación',
                                html:
                                    '<input id="inputTitulo" class="swal2-input" placeholder="Título...">' +
                                    '<textarea id="inputTexto" class="swal2-textarea" placeholder="Texto..."></textarea>',
                                showCancelButton: true,
                                confirmButtonText: 'Publicar',
                                cancelButtonText: 'Cancelar',
                                preConfirm: () => {
                                    titulo = document.getElementById('inputTitulo').value;
                                    texto = document.getElementById('inputTexto').value;
                    
                                    return obtenerHumanoIDDesdeSesion() // Llama a la función para obtener el humanoID
                                        .then(function(humanoID) {
                                            if (humanoID) {
                                                return axios.post('/publicar-publicacion', {
                                                    titulo: titulo,
    texto: texto,
    humano: humanoID 
                                                });
                                            } else {
                                                throw new Error('No se pudo obtener el humanoID desde la sesión.');
                                            }
                                        })
                                        .catch(function(error) {
                                            return { success: false, error: error };
                                        });
                                }
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    if (result.value.success) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: '¡Publicación exitosa!',
                                            text: `Tu publicación ha sido creada con el token: ${result.value.token}`
                                        });
                                        // Actualizar la vista con la nueva publicación
                                        const contenedorPublicaciones = document.querySelector('.col-md-9');
                                        const divPublicacion = document.createElement('div');
                                        const fechaPublicacion = result.value.fecha; // Usar la fecha de la respuesta del servidor
                                        divPublicacion.innerHTML = `
                                            <div class="text-white p-2 rounded-lg" ALIGN="left" style="background-color: whitesmoke">
                                                <img class="mt-1 rounded-lg" src="https://i.ibb.co/Nxkbn3C/Dise-o-sin-t-tulo-3.png" width="30" height="30" alt="Logo">
                                                <small class="text-muted">Humano: ${result.value.humanoID}</small>
                                                <h5 class="card-title mt-2" style="color: #15566a">${titulo}</h5>
                                                <p class="card-text" style="color: #15566a">${texto}</p>
                                                <small class="text-muted">Fecha de publicación: ${fechaPublicacion}</small>
                                                <small class="text-muted">Token: ${result.value.token}</small>
                                            </div>
                                        `;
                                        contenedorPublicaciones.prepend(divPublicacion); // Agrega la nueva publicación al principio del contenedor
                                    } else {
                                        console.error('Error al enviar la solicitud:', result.value ? result.value.error : error);
Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Hubo un error al publicar.'
            });
                                    }
                                }
                            });
                        });
                    });
                    </script>
                    
                                    
    </div>
        </div>
    <% } %>
    <div id="pricing-container" class="rounded-lg pt-2 mt-3">
      <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
      <stripe-pricing-table
        pricing-table-id="prctbl_1NtxIoBNUCxInZmnWZmzMsYv"
        publishable-key="pk_live_51NSLmIBNUCxInZmnL6E2lNVgEqJXiBU9WOVrj53JxNUradDkE8gR2IbOUdstUibAlv766OmwsylWauUv4ptRa2lk00w9DO2Go6"
      >
      </stripe-pricing-table>
    </div>

    <!-- Pie de página -->
    <div style="color: #2d7990; text-align: center;" class="mt-5">
        <a href="#">
            <img class="mb-2" src="https://i.ibb.co/f4vZNKd/Captura-de-pantalla-2023-04-29-201016.png" width="80" height="80" alt="Logo">		
        </a>
        <p class="m-0 pb-2">Programador Sergio Campos Medina. <br>Registro de obra No.03-2022-050214132600-01<br>&copy; 2022-2027</p>
    </div>

    <script>
      const button = document.querySelector('#search-btn');
      const suggestions = document.querySelector('#suggestions');
      
      button.addEventListener('click', async () => {
          const query = document.getElementById('search-input').value;
      
          try {
              const response = await axios.post('/get-response', { message: query });
              const modelResponse = response.data.message;
              suggestions.querySelector('.text-white').innerHTML = modelResponse;
              suggestions.style.display = 'block';
          } catch (error) {
              console.error(error);
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'An error occurred while getting the response from the model.',
              });
          }
      });
      
      // Mostrar información de Stripe
      document.querySelector('.nav-link').addEventListener('click', function(event) {
          event.preventDefault();
          let divContent = document.getElementById('pricing-container').innerHTML;
          Swal.fire({
              html: divContent,
              showCloseButton: true,
              focusConfirm: false,
              confirmButtonText: 'Cerrar',
          });
      });

      </script>
 
    <!-- Scripts adicionales (si se requieren) -->
    <% if (typeof alert != "undefined")  { %>
    <script>
        Swal.fire({
            title:'<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= iconHtml %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=> { 	
            window.location='/<%= ruta %>'
        })
    </script>
    <% } %>
</body>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>