<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.ibb.co/PTcH9jG/Imagen1.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- CSS propio -->
    <link rel="stylesheet" href="/public/css/tu_archivo.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>

<!-- Titulo -->
<div class=" m-2 image-container fade-in">
  <img src="https://i.ibb.co/w0C7bXQ/Home.png" width="100%" height="100%" >
</div>

<!-- Nav--> 
<nav class="navbar navbar-expand-lg rounded-lg navbar-dark sticky-top mb-3 ml-2 " style="background-color: whitesmoke">
    <a class="" href="#">
    <img class="align-items-center" src="https://i.ibb.co/f4vZNKd/Captura-de-pantalla-2023-04-29-201016.png"  width="60" height="60" alt="Logo">		
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #2c758c; font-size: 25px;"><i class="fas fa-file-media"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="login" style="color: #2c758c; font-size: 25px;">
            <i class="fas fa-user"></i> Ingresa
            <span class="sr-only">Ingresa (página actual)</span>
        </a>
    </li>
    
    </ul>
  </nav>
    </div>



	<!-- Formulario de validacion --> 
  <div id="Validacion" class="text-center" style="background-color: white">
    <div class="text-white pl-3 pr-3 pb-3 pt-4 ml-3 mr-3 rounded-lg " style="background: linear-gradient(to bottom,  #2C758C ,  #F17460 )">
        <div class="text-white p-5  rounded-lg " style="color: #2c758c; background-color: rgba(245, 245, 245, 0.313)">
          <div class="register-form form ml-2 mr-2" style="color:white">
            <h2 class="">¿Qué es el Sistema de Identificacion Humana?</h2>   <br>
             <p style="text-align: justify;">El sistema de identificación humana consta de una tarjeta con chip y una aplicación web que permite realizar y recibir pagos. La tarjeta de identificación almacena datos personales y financieros, y se vincula a la aplicación web a través de un código QR. La aplicación web ofrece diversas funcionalidades, como la posibilidad de pagar con la tarjeta, consultar el historial de transacciones y gestionar los fondos. Además, la aplicación permite enviar y recibir dinero entre usuarios y realizar pagos a través de un sistema de códigos QR. En resumen, este sistema de identificación humana permite una gestión eficiente y segura de transacciones financieras a través de una tarjeta de identificación y una aplicación web.</p>
          </div>
          <button id="btnAceptar" type="button" class="btn btn-outline-danger mr-3">Donar</button>
   <br> <br>
          <div class="text-white p-4 rounded-lg" style="background-color: whitesmoke">
            <div class="register-form form" style="color:#2d7990">
              <form action="/register" method="POST">
                <h2 class="mt-2 mb-4">Formulario de registro <i class="fas fa-file"></i>
                </h2>
                <div class="form-group mt-2">
                    <h6 for="inputNombre">Nombre Completo</h6>
                    <input type="text" class="form-control" style="color:#f87d6a" name="nombre" id="inputNombre" placeholder="Nombre(s) Apellido Paterno Apellido Materno" required pattern="\w+\s\w+\s\w+" title="Por favor ingresa tu nombre completo">
                </div>
                <div class="form-group">
                    <h6 for="inputDireccion">Dirección</h6>
                    <input type="text" class="form-control" style="color:#f87d6a" name="direccion" id="inputDireccion" placeholder="Dirección" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h6 for="inputCorreo">Correo</h6>
                        <input type="email" class="form-control" style="color:#f87d6a" name="correo" id="inputCorreo" placeholder="correo@gmail.com" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h6 for="inputCelular">Teléfono</h6>
                        <input type="tel" pattern="[0-9]{10}" class="form-control" style="color:#f87d6a" name="telefono" id="inputCelular" placeholder="1233334444" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h6 for="inputFechaNacimiento">Fecha de Nacimiento</h6>
                        <input type="date" style="color:#f87d6a" class="form-control" name="fecha_nacimiento" id="inputFechaNacimiento" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h6 for="inputLugarNacimiento">Lugar de Nacimiento</h6>
                        <select class="form-control" name="lugarNacimiento" id="inputLugarNacimiento" required>
                            <option value="MEX">México - MEX</option>
                            <option value="USA">Estados Unidos - USA</option>
                            <option value="BRA">Brasil - BRA</option>
                            <!-- ... otras opciones ... -->
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h6 for="inputPassword1">Contraseña</h6>
                        <input type="password" class="form-control" style="color:#f87d6a" name="contrasena1" id="inputPassword1" placeholder="***********" required minlength="8" maxlength="20">
                    </div>
                    <div class="form-group col-md-6">
                        <h6 for="inputPassword2">Confirmar Contraseña</h6>
                        <input type="password" class="form-control" style="color:#f87d6a" name="contrasena2" id="inputPassword2" placeholder="***********" required minlength="8" maxlength="20">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" required>
                    <label class="form-check-label" for="gridCheck" style="color:#2d7990">
                        Acepto las condiciones
                    </label>
                </div>
                <button type="submit" class="btn btn-info mt-3">Registrar</button>
            </form>
              </div>
              </div>
              </div> 
    </div>
 

<!-- Pie de pagina -->
<div style="color: #2d7990 " class="mt-5" style="background-color: white;">
	<a class="" href="#">
	  <img class="" src="https://i.ibb.co/f4vZNKd/Captura-de-pantalla-2023-04-29-201016.png" width="80" height="80" alt="Logo">		
	  </a>
	<p class="m-0 pb-4"> Programador Sergio Campos Medina. <br> Registro de obra No.03-2022-050214132600-01<br>  &copy; 2022-2027</p>

  </div>

<!-- Scripts --> 
<!-- Scrollreveal -->
<script src="https://unpkg.com/scrollreveal"></script>
<!-- Dependencias de bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
crossorigin="anonymous"></script> 

<!-- Alerta --> 

<% if (typeof alert != "undefined")  { %>
 <script>
 Swal.fire({
   title:'<%= alertTitle %>',
   text:'<%= alertMessage %>',
   icon:'<%= alertIcon %>',
   showConfirmButton: <%= showConfirmButton %>,
   timer: <%= timer %>
 }).then(()=>{
   window.location='/<%= ruta %>'
 })
 </script>
<% } %>
</body>
</html>